.container {
  width: 100%;
  padding-top: 60px;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 70% 30%;
  padding-left: 2rem;
  padding-right: 2rem;
}
@media only screen and (max-width: 575px) {
  .container {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .container {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .container {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 1024px) and (max-width: 1400px) {
  .container {
    display: flex;
    flex-direction: column;
  }
}
